<main>
    <div class="col-12 d-flex justify-content-center my-4">
        <a href="/componentes/procesador/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/procesador.jpg" class="position-absolute d-block h-100">
            <div class="procesador-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Procesador</p>
        </a>
        <a href="/componentes/ram/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/memoriaRam.jpg" class="position-absolute d-block h-100">
            <div class="memoria-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Memoria ram</p>
        </a>
        <a href="/componentes/video/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/tarjetaGrafica.jpg" class="position-absolute d-block h-100">
            <div class="tarjeta-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Tarjeta de video</p>
        </a>
    </div>
    <div class="col-12 d-flex justify-content-center my-4">
        <a href="/componentes/placa/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/placaMadre.jpg" class="position-absolute d-block w-100">
            <div class="placa-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Placa base</p>
        </a>
        <a href="/componentes/disco/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/discoDuro.jpg" class="position-absolute d-block w-100">
            <div class="disco-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Disco duro</p>
        </a>
        <a href="/componentes/fuente/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/fuentePoder.jpg" class="position-absolute d-block h-100">
            <div class="fuente-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Fuente de poder</p>
        </a>
    </div>
</main>