<main>
    <div class="col-12 d-flex justify-content-center my-4">
        <a href="/productos/pc/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/pc.jpg" class="position-absolute d-block h-100">
            <div class="pc-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Pc</p>
        </a>
        <a href="/productos/laptop/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/laptop.jpg" class="position-absolute d-block h-100">
            <div class="laptop-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Laptops</p>
        </a>
        <a href="/productos/celular/create" class="categoria-componente mx-3 position-relative overflow-hidden d-flex justify-content-center align-items-center">
            <img src="/images/celular.jpg" class="position-absolute d-block h-100">
            <div class="celular-fondo w-100 h-100 d-block position-absolute"></div>
            <p class="position-absolute h-100 w-100 d-flex justify-content-center align-items-center h2 text-white">Celulares</p>
        </a>
    </div>
</main>